[event_store]
type = "in_memory"

[llm_clients.openrouter]
type = "openai_compatible"
base_url = "https://openrouter.ai/api"
api_key = "sk-or-v1-YOUR-KEY-HERE"

[agents.alex]
name = "alex"
system_prompt = "You are a helpful assistant named Alex."

[agents.alex.llm]
client = "openrouter"

[agents.alex.llm.params]
model = "arcee-ai/trinity-large-preview:free"
