[event_store]
type = "sqlite"
path = "events.db"


[secret_providers.env]
type = "env"

[llm_clients.openrouter]
type = "openai_compatible"
base_url = "https://openrouter.ai/api"
api_key = { provider = "env", key = "OPENROUTER_API_KEY" }

[agents.alex]
name = "alex"
system_prompt = "You are a helpful assistant named Alex."
strategy = { type = "default" }
llm.client = "openrouter"
llm.model = "arcee-ai/trinity-large-preview:free"
