# Build artifacts
/_build/
/cover/
/deps/
/doc/
/.fetch
*.ez
*.beam

# Crash dumps
erl_crash.dump

# Secrets / generated config
/config/*.secret.exs

# Language server
.elixir_ls/

# Environment variables
.env
